* {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: $text-color;
  text-decoration: none;
}

body {
  background: darken($navbar, 20%);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../assets/img/bg.png')
}
h4  {

  transition: color 300ms ease-in-out;
  &:hover {
    color: red;
  }
}
