.img-gallery {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
    [class*="big-img-"]{
      flex: 2;
      // flex-basis: 480px;
      height: 20rem;
      display: flex;
      justify-content: flex-start;
    }
    [class*="small-img-"] {
      flex: 1;
      // flex: 240px;
      height: 20rem;
      display: flex;
      justify-content: flex-start;
    }
}
.big-img-1{
  @include background-img("../assets/img/jon-w.jpg");
}

.big-img-2{
  @include background-img("../assets/img/rafferty.jpg");
}

.small-img-1{
  @include background-img("../assets/img/nariko.jpg");
}
.small-img-2{
  @include background-img("../assets/img/andie-m.jpg");
}
.small-img-3{
  @include background-img("../assets/img/barbra-h.jpg");
}
.small-img-4{
  @include background-img("../assets/img/jake-s.jpg");
}

.link-tiles {
  margin-top: 5%;
  display: flex;
  // width: 100vw;
  height: 400px;
  justify-content: space-around;
  flex-wrap: wrap;
  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
  }
}
#o-m-link {
  @include background-img('../assets/img/avalon.jpg');
}
#show-link {
  @include background-img('../assets/img/dinah-f.jpg');
}
#link-link {
  @include background-img('../assets/img/nick-p.jpg');
}
.top-img {
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
}

#open-mic-img {
  @include background-img("../assets/img/rochelle-c.jpg");
  h1 {
    align-self: flex-start;
    margin-top: 20%;
  }
}
#showcases-img {
  @include background-img("../assets/img/tony-c.jpg");
  h1 {
    align-self: center;
  }
}
