<div class="navbar">
  <h1>Portland Comedy</h1>
  <ul>
    <li>Home</li>
    <li>Open Mics</li>
    <li>Showcases</li>
    <li>Links</li>
  </ul>
</div>

{{outlet}}

<div class="footer">
  <p>
    &copy; 2016 Kevin Johnston
  </p>
</div>
