<div class="navbar">
  <h1>Portland Comedy</h1>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'open-mic'}}Open Mics{{/link-to}}</li>
    <li>Showcases</li>
    <li>Links</li>
  </ul>
</div>

{{outlet}}

<div class="footer">
  <p>
    &copy; 2016 Kevin Johnston
  </p>
</div>
