<div class="navbar">
  <img src="../assets/img/logo.png" alt="logo" />
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'open-mic'}}Open Mics{{/link-to}}</li>
    <li>{{#link-to 'showcases'}}Showcases{{/link-to}}</li>
    <li>{{#link-to 'links'}}Links{{/link-to}}</li>
  </ul>
</div>

{{outlet}}

<div class="footer">
  <p>
    &copy; 2016 Kevin Johnston - Photos by Deira Bowie
  </p>
</div>
