<div class="img-gallery">
  <h1 class="page-title">Portland Comedy</h1>
  <div class="row">
    <div class="big-img-1"></div>
    <div class="small-img-1"></div>
    <div class="small-img-2"></div>
  </div>
  <div class="row">
    <div class="small-img-3"></div>
    <div class="small-img-4"></div>
    <div class="big-img-2"></div>
  </div>
</div>

<div class="link-tiles">

  <div class="tile" id="o-m-link">
    {{#link-to 'open-mic'}}<h2>Open Mics</h2>{{/link-to}}
  </div>
  <div class="tile" id="show-link">
    {{#link-to 'showcases'}}<h2>Showcases</h2>{{/link-to}}
  </div>
  <div class="tile" id="link-link">
    {{#link-to 'links'}}<h2>Links</h2>{{/link-to}}
  </div>

</div>
