<div class="img-gallery">
  <h1 class="page-title">Portland Comedy</h1>
  <div class="row">
    <div class="big-img-1"></div>
    <div class="small-img-1"></div>
    <div class="small-img-2"></div>
  </div>
  <div class="row">
    <div class="small-img-3"></div>
    <div class="small-img-4"></div>
    <div class="big-img-2"></div>

  </div>

</div>
