<div class="top-img" id="links-img">
  <h1 class="top-text">Resources &amp; Links</h1>
</div>

<div class="display">
  <h1>Questions, Problems, or Whatever?</h1>
  <h4>
    <a href="mailto:comedy.in.pdx@gmail.com">Shoot us an message!</a>
  </h4>
</div>
