<div class="top-img" id="open-mic-img">
  <div class="top-text">
    <h3>Upcoming</h3>
    <h1 >Open Mics</h1>

  </div>

</div>
  <div class="display">
    <div id="authorize-div">
        <span>Click here to view upcoming events:</span>
        <!--Button for the user to click to initiate auth sequence -->
        <button id="authorize-button" onclick="handleAuthClick(event)">
          Authorize
        </button>
      </div>
      <h1>Upcoming events:</h1>
  </div>
