
<h2>Hey look it's the open mic stuff</h2>
<div class="top-img" id="open-mic-img">
  <h1>Open Mics</h1>
</div>

<div id="authorize-div">
    <span>Authorize access to Google Calendar API</span>
    <!--Button for the user to click to initiate auth sequence -->
    <button id="authorize-button" onclick="handleAuthClick(event)">
      Authorize
    </button>
  </div>
  <pre id="output"></pre>
