<div class="top-img" id="showcases-img">
  <h1 class="top-text">Showcases</h1>
</div>
  <div class="display">
    <div id="authorize-div">
        <span>Click here to view upcoming events:</span>
        <!--Button for the user to click to initiate auth sequence -->
        <button id="authorize-button" onclick="handleAuthClick(event)">
          Authorize
        </button>
      </div>
  </div>
