
<div class="top-img" id="showcases-img">
  <h1>Showcases</h1>
</div>
<div id="authorize-div">
    <span>Authorize access to Google Calendar API</span>
    <!--Button for the user to click to initiate auth sequence -->
    <button id="authorize-button" onclick="handleAuthClick(event)">
      Authorize
    </button>
  </div>
  <pre id="output"></pre>
